.content{

    align-content: center;
    background: white;
}

.page{
    border: 5px;
    border-bottom-color: aliceblue
    padding: 50px 0 0 0;
    background: blue;
 
}

.about_me {
    width:100%;
    display:table;
    margin:10px 0px;
    padding:10px;
}

.about_me>p {
    display:table-cell;
    height:50%;
    width: 90%;
    vertical-align:middle;
    background:white;
}

.about_me>img {
    display:table-cell;
    width:100%;
    height:auto;
    border-radius: 50%;
}

.box{
    padding: 50px;
}

.poster {
    width: 86%;
    margin-bottom: 25px;
}

.responsive {
  float: left;
  width: 30%;
}